[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
django = "*"
authlib = "*"
python-dotenv = "*"
transformers = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.10"
